:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 60px auto;
  font-family: var(--bs-font-sans-serif);
}
h1,
h2,
h3 {
  display: flex;
  justify-content: center;
  margin: 0;
}
h1 {
  font-size: 76px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
.about-paragraphs {
  margin: 30px 0px;
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 9px;
  background-color: #ffe6eb;
}
.flex-buttons {
  display: flex;
  margin: 40px;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-me-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-me-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.about-paragraphs p {
  margin: 10px;
}
footer {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
}
.email-link {
  display: flex;
  justify-content: center;
}
.homepage-link {
  display: flex;
  justify-content: center;
}
.button-style {
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.nav-bar {
  position: fixed;
}
