:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@keyframes bgcolor {
  0% {
    background-color: #deddfa;
  }
  20% {
    background-color: #ffdede;
  }
  40% {
    background-color: #ffe8cf;
  }
  60% {
    background-color: #fdfdc4;
  }
  80% {
    background-color: #bfcfff;
  }
  100% {
    background-color: #ccffec;
  }
}
.bg-color {
  height: 50%;
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 30s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
body {
  margin: 60px auto;
}

.customized-padding {
  padding: 220px;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.about-paragraphs {
  margin: 30px 0px;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 9px;
  background-color: #ffe6eb;
  font-family: "Poppins", sans-serif;
  margin-bottom: 80px;
}
.flex-buttons {
  display: flex;
  margin: 40px;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.contact-me-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-me-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
}
.homepage-link {
  display: flex;
  justify-content: center;
}
.button-style {
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.nav-bar {
  position: fixed;
  background-color: #f2f2f2;
}
.paragraph {
  font-family: "Poppins", sans-serif;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
